USE [master]
GO
/****** Object:  Database [DB_Test]    Script Date: 4/3/2019 3:36:22 PM ******/
CREATE DATABASE [DB_Test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_Test', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DB_Test.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_Test_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DB_Test_log.ldf' , SIZE = 4096KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_Test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_Test]
GO
/****** Object:  Table [dbo].[CARROS]    Script Date: 4/3/2019 3:36:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARROS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[modelo] [varchar](50) NULL,
	[fabricante] [varchar](50) NULL,
 CONSTRAINT [PK_CARROS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_TESTE_01]    Script Date: 4/3/2019 3:36:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_TESTE_01](
	[testeId] [nvarchar](50) NULL,
	[testeNome] [nvarchar](50) NULL,
	[formula] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_TESTE_02]    Script Date: 4/3/2019 3:36:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_TESTE_02](
	[testeId] [int] NULL,
	[testeNome] [varchar](50) NULL,
	[formula] [varchar](100) NULL
) ON [PRIMARY]
GO
USE [master]
GO
